/* src/pages/Home.css */
.home {
    text-align: center;
    padding: 3em 0;
    background: #000000;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.service {
    background: #fdb44b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service h2 {
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Bebas Neue', cursive;
}

.service p {
    color: #000000;
    font-family: 'Permanent Marker', cursive;
}